@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));


@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Involve';
  src: url('./fonts/Involve-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
}
.sb-show-main {
  font-family: 'Involve';
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@theme inline {
  --breakpoint-xxs: 29rem;
  --breakpoint-2xl: 90rem;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-light: var(--light);
  --color-soft: var(--soft);
  --color-medium: var(--medium);
  --color-dark: var(--dark);
  --color-black: var(--deep);
  --color-gray: var(--gray);

  --color-yellow-pale: var(--yellow-pale);
  --color-yellow: var(--yellow);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
}

:root {
  --radius: 0.75rem;
  --montserrat: 'Montserrat';

  --background: #fafafa;
  --foreground: #0c0c0c;

  --card: #ffffff;
  --card-foreground: #0c0c0c;

  --popover: #ffffff;
  --popover-foreground: #0c0c0c;

  --primary: #238ba7;
  --primary-foreground: #fafafa;

  --secondary: #f9dd69;
  --secondary-foreground: #0c0c0c;

  --muted: #a9dbe9;
  --muted-foreground: #0c0c0c;

  --accent: #e5932b;
  --accent-foreground: #fafafa;

  --destructive: #e5932b;

  --border: #a9dbe9;
  --input: #fafafa;
  --ring: #238ba7;

  --chart-1: #238ba7;
  --chart-2: #a9dbe9;
  --chart-3: #f9dd69;
  --chart-4: #e5932b;
  --chart-5: #5f4ee0;

  --sidebar: #fafafa;
  --sidebar-foreground: #0c0c0c;
  --sidebar-primary: #238ba7;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #c0b7ff;
  --sidebar-accent-foreground: #0c0c0c;
  --sidebar-border: #a9dbe9;
  --sidebar-ring: #238ba7;

  --light: #fafafa;
  --soft: #a9dbe9;
  --medium: #238ba7;
  --dark: #00617b;
  --black: #0c0c0c;
  --gray: #B9B9B9;

  --yellow-pale: #F9DD69;
  --yellow: #FFD93C;

  --success: #b4e925;
  --warning: #e9bf25;
  --error: #e64444;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
